<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>SIGNIN Page</h1>
	<form method="POST" action="{%url 'minitwitter:signin' %}" enctype="multipart/form-data">
	{% csrf_token %}
		{% for field1 in form1 %}
		<p id="p{{ forloop.counter }}">
			{{ field1.label_tag}}{{ field1 }}
			{% if field1.help_text %}
			{{ field1.help_text}}
			{% endif %}
			{% if field1.name == 'password'%}
				<span id="span_pw_check"></span>
			{% endif %}
			{% if field1.name == 'user_name' %}
				<input type="button" value="check" id="btn_check_username">
			{% endif %}
		</p>
		{% endfor %}
		{% for field2 in form2 %}
		<p>
			{{ field2.label_tag}}{{ field2 }}
			{% if field2.help_text %}
			{{ field2.help_text}}
			{% endif %}
			{% if field2.name == 'nickname' %}
				<input type="button" value="check" id="btn_check_nickname">
			{% endif %}
		</p>
		{% endfor %}
		<input type="submit" value="SIGNIN" name="btn_signin">		
	</form>
	<script>
		window.onpageshow = function() {
			var fieldCheckPassword = document.getElementById('span_pw_check');
			fieldCheckPassword.innerHTML = "";
			fieldCheckPassword.style.color='red';
		}
		var inputPassword = document.getElementsByName("form1_prefix-password")[0];
		var inputPasswordCheck = document.getElementsByName("form1_prefix-password_check")[0];
		inputPasswordCheck.addEventListener('keyup', function() {
			var fieldCheckPassword = document.getElementById('span_pw_check');
			if (inputPasswordCheck.value !== inputPassword.value) {
				fieldCheckPassword.innerHTML = 'Password does not match.';
				fieldCheckPassword.style.color='red';
			}
			else {
				fieldCheckPassword.innerHTML = 'Password does match.';
				fieldCheckPassword.style.color='green';
			}
		});
		
		var btnCheckNickname = document.getElementById("btn_check_nickname");
		var xhttp2 = new XMLHttpRequest();
		xhttp2.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				alert(xhttp2.responseText);
				document.getElementsByName("btn_signin")[0].removeAttribute('disabled',"");
			}
			if (this.readyState == 4 && this.status == 409) {
				alert(xhttp2.responseText);
				document.getElementsByName("btn_signin")[0].setAttribute('disabled',"");
			}
		};
		btnCheckNickname.addEventListener('click', function() {	
			var inputNickname = document.getElementsByName("form2_prefix-nickname");
			xhttp2.open("GET", "/minitwitter/auth/check/nickname/"+inputNickname[0].value, true);
			xhttp2.send();
		});	

		var btnCheckUsername = document.getElementById("btn_check_username");
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				alert(xhttp.responseText);
				document.getElementsByName("btn_signin")[0].removeAttribute('disabled',"");
			}
			if (this.readyState == 4 && this.status == 409) {
				alert(xhttp.responseText);
				document.getElementsByName("btn_signin")[0].setAttribute('disabled',"");
			}
		};
		btnCheckUsername.addEventListener('click', function() {	
			var inputUserName = document.getElementsByName("form1_prefix-user_name");
			xhttp.open("GET", "/minitwitter/auth/check/username/"+inputUserName[0].value, true);
			xhttp.send();
		});	
	</script>
</body>
</html>