<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>TIMELINE Page</h1>
	ID: {{ this_member.user.username }}
	Nickname: {{ this_member.nickname }}
	<img src="/minitwitter/uploads/{{ this_member.profile}}" width="35px" height="35px">
	<form method="GET" {% if flag %} action="{%url 'minitwitter:timeline'%}" {% else %} action="{%url 'minitwitter:my_timeline'%}" {% endif %}>
	{% if flag %} <input type="submit" value="timeline"> {% else %} <input type="submit" value="my timeline"> {% endif %}
	</form>
	<form method="GET" action="{%url 'minitwitter:write_article'%}">
		<input type="submit" value="write">
	</form>
	<form method="GET" action="{%url 'minitwitter:modify_user'%}">
		<input type="submit" value="modify user info">
	</form>
	<form method="GET" action="{%url 'minitwitter:logout'%}">
		<input type="submit" value="logout">
	</form>
	{% if articles %}
		{% for item in articles %}
			<p>
			<span name="span_nickname" id="{{ item.article.id }}">{{ item.article.author.nickname }}</span> {{ item.article.modified_time|date:"Y/m/d H:i"}}<br>
			{{ item.article.context }}<br>
			{% if item.photos %}
			{% for photo in item.photos %}
				<img src="/minitwitter/uploads/{{ photo.photo}}" width="150px" height="100px">
			{% endfor %}
			{% endif %}
			<br>
			{% if item.tags %}
			{% for tag in item.tags %}
				<a href="{% url 'minitwitter:search_article' tag.hashtag.hashtag%}">{{ tag.hashtag.hashtag }}</a>
			{% endfor %}		
			{% endif %}
			<form method="GET" action="{% url 'minitwitter:modify_article' item.article.id %}"><input type="submit" value="modify" name="btn_modify"></form>
			</p>
		{% endfor %}
	{% else %}
	<h3>NO ARTICLES.</h3>
	{% endif %}
	<script>
		var article = document.getElementsByName("span_nickname");		
		var btnModify = document.getElementsByName("btn_modify");
		for (let i = 0; i < btnModify.length; i++) {
			if (article[i].innerHTML != '{{ this_member.nickname}}') {
				btnModify[i].setAttribute('disabled',"");
			} else {
				btnModify[i].removeAttribute('disabled',"");
			}	
		};
	</script>
</body>
</html>