<!DOCTYPE html>
<html>
<head>
	<style>
	.link_page {
		text-decoration: none;
		border : 1px solid #330000;
		border-radius: 2px;
		background-color: #ffe6e6;
	}
	.link_page:link, .link_page:visited {
		color: #330000;
	}
	</style>
</head>
<body>
	<h1>TIMELINE Page</h1>
	ID: {{ this_member.user.username }}
	Nickname: {{ this_member.nickname }}
	<img src="/minitwitter/uploads/{{ this_member.profile}}" width="35px" height="35px">
	<form method="GET" {% if flag %} action="{%url 'minitwitter:timeline'%}" {% else %} action="{%url 'minitwitter:my_timeline'%}" {% endif %}>
	{% if flag %} <input type="submit" value="timeline"> {% else %} <input type="submit" value="my timeline"> {% endif %}
	</form>
	<form method="GET" action="{%url 'minitwitter:write_article'%}">
		<input type="submit" value="write">
	</form>
	<form method="GET" action="{%url 'minitwitter:modify_user'%}">
		<input type="submit" value="modify user info">
	</form>
	<form method="GET" action="{%url 'minitwitter:logout'%}">
		<input type="submit" value="logout">
	</form>
	{% if articles %}
		{% for article in articles %}
			<p>
			<span name="span_nickname" id="{{ article.id }}">{{ article.author.nickname }}</span> {{ article.modified_time|date:"Y/m/d H:i"}}<br>
			{{ article.context }}<br>
			{% if article.photo_set.all %}
			{% for photo in article.photo_set.all %}
				<img src="/minitwitter/uploads/{{ photo.photo}}" width="150px" height="100px">
			{% endfor %}
			{% endif %}
			<br>
			{% if article.tagged_set.all %}
			{% for tag in article.tagged_set.all %}
				<a href="{% url 'minitwitter:search_article' tag.hashtag.hashtag%}">{{ tag.hashtag.hashtag }}</a>
			{% endfor %}		
			{% endif %}
			<form method="GET" action="{% url 'minitwitter:modify_article' article.id %}"><input type="submit" value="modify" name="btn_modify"></form>
			</p>
		{% endfor %}
		{% if articles.has_previous %}
			<a href="?page=1" class="link_page"><<</a>
			<a href="?page={{ articles.previous_page_number }}" class="link_page"><</a>
		{% endif %}
		Page {{ articles.number }}
		{% if articles.has_next %}
			<a href="?page={{ articles.next_page_number }}" class="link_page">></a>
			<a href="?page={{ articles.paginator.num_pages }}" class="link_page">>></a>
		{% endif %}
	{% else %}
	<h3>NO ARTICLES.</h3>
	{% endif %}
	<script>
		var article = document.getElementsByName("span_nickname");		
		var btnModify = document.getElementsByName("btn_modify");
		for (let i = 0; i < btnModify.length; i++) {
			if (article[i].innerHTML != '{{ this_member.nickname}}') {
				btnModify[i].setAttribute('disabled',"");
			} else {
				btnModify[i].removeAttribute('disabled',"");
			}	
		};
	</script>
</body>
</html>